body {
    font-family: "Titillium Web", sans-serif;
    background-color: #800020;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
  font-size: 60px;
  color: whitesmoke;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-shadow: black 2px 2px 4px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 40px;
  color: whitesmoke;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;  
  text-shadow: black 2px 2px 4px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  font-size: 56px;
  color: whitesmoke;
  font-weight: 500;
  margin-top: 4rem;
  text-shadow: black 2px 2px 4px;
  text-decoration: underline;
  text-align: left;
}

p {
  font-size: 32px;
  color: whitesmoke;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.button a {
  display: flex;
  align-items: center;
  justify-content: center;  
  text-decoration: none;
  text-decoration-line: none;
  font-size: 30px;
  color: black;
}

.button {
  border: none;
  background-color: antiquewhite;
  padding: 40px 64px;
  display: flex;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 40px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    margin-top: 5rem;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 16px;
    margin-top: 5rem;
  }

  p {
    font-size: 14px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .button {
    padding: 30px 54px;
    font-size: 120px;
    bottom: 10px;
  }
}